.brandCard{
  border-radius: 8px;
  overflow: hidden;
  &__mask{
    img{
      // width: 100%;
      // object-fit: cover;
      // max-width: 75%;
      height: auto;
      display: block;
      margin: 0 auto;
      transition: all 0.250s ease-in-out;
    }
    &:hover{
      img{
        transform: scale(1.1);
      }
    }
  }
}