.themeBar{
  background-color: $secondary !important;
  border-bottom: 2px solid $primary !important;
  position: relative !important;
  .logoBox{
    max-width: 150px;
    figure{
      display: flex;
      align-items: center;
    }
  }
  @media only screen and (max-width: $breakpoint_md) {
    .toolBar{
      min-height: 90px;
    }
    .logoBox{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
.logoContainer{
  max-width: 70%;
  margin: 0 auto; 
}

// NavBar.module.scss
// .subMenu {
//   position: absolute; // Asegúrate de que el contenedor padre tenga position: relative
//   left: 100%; // Desplaza el menú a la derecha
//   top: 0; // Alinea en la parte superior
//   z-index: 1; // Asegúrate de que esté por encima de otros elementos
// }